@media (max-width:1637px) {
    .contacts__form {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .label__contacts {
        margin-bottom: 12px;
    }
}

@media (max-width:1520px) {
    .header__list-item:not(:last-child) {
        padding-right: 4%;
    }
}

@media (max-width:1196px) {
    .events__content {
        padding: 14px 34px 77px 34px;
    }
}

@media (max-width:1123px) {
    .header__logo {
        margin-right: 3%;
    }
}

@media (max-width:1050px) {
    .events__link {
        bottom: 28px;
    }
}

@media (max-width:1024px) {
    .container {
        padding: 0;
        padding: 0 50px
    }
    .header__logo {
        background-image: url(../img/Лого-1024.svg);
        width: 100%;
        margin-right: 0;
    }
    .header__top {
        justify-content: space-between;
    }
    .header__top-nav {
        display: none;
    }
    .hero__bottom {
        padding: 107px 0 113px 0;
        max-width: 661px;
    }
    .hero__top {
        display: none;
    }
    .hero__title {
        font-size: 71px;
        line-height: 98px;
        letter-spacing: 4px;
    }
    .hero__par {
        margin-top: -10px;
        letter-spacing: .9px;
        margin-bottom: 133px;
    }
    .header__out {
        display: none;
    }
    .burger-menu-block {
        display: block;
        height: 28px;
    }
    .burger-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .burger-menu {
        display: inline-block;
        position: absolute;
        padding-top: 34px;
        padding-left: 15px;
        padding-right: 20px;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 768px;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 3;
        padding: 38px 0 50px 49px;
    }
    .header__burger {
        display: inline-block;
        width: 36px;
        height: 28px;
        background-image: url('../img/burger.svg');
        background-repeat: no-repeat;
        background-position: center center;
        transition: background-image .25s ease;
        cursor: pointer;
    }
    .hero__bth {
        font-size: 19px;
    }
    .header__out-burger:hover {
        background-color: var(--amethysta);
        outline: 3px solid var(--biloba-flower);
        transition: background-color .3s ease, outline .3s ease;
    }
    .header__out-burger:active {
        background: var(--royal-purple);
        outline: 3px solid var(--biloba-flower);
        transition: background-color .3s ease, outline .3s ease;
    }
    .header__out-burger:focus-visible {
        outline: 2px solid var(--heliotrope);
        transition: outline .3s ease;
    }
    .cr-bth {
        cursor: pointer;
    }
    .list-burger {
        display: block;
        margin-bottom: 193px;
        padding-top: 47px;
    }
    .header__list-item:not(:last-child) {
        margin-bottom: 36px;
    }
    .item-burger {
        font-size: 24px;
    }
    .burger-menu {
        transform: translateX(-101%);
        transition: transform 0.35s ease;
    }
    .not-active {
        transform: none;
    }
    .events-button-next,
    .events-button-prev {
        display: none;
    }
    .events__navigation {
        display: flex;
        margin-right: auto !important;
        margin-left: auto;
        top: 30px !important;
    }
    .events__navigation>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {}
    .mySwiperE {
        padding-bottom: 30px;
    }
    .header__out-burger {
        border: 2px solid var(--amethysta);
        border-radius: 100px;
        padding: 19px 88px 22px;
    }
    .header__out-text-burger {
        font-size: 18px;
        color: var(--white);
    }
    .header__search {
        display: block;
    }
    /*Лупа*/
    .icon {
        position: relative;
        display: block;
        cursor: pointer;
    }
    .header__bth:focus {
        border: none;
        outline: 2px solid #FF9900;
        outline-offset: 3px;
        transition: outline 0.2s linear;
    }
    .header__bth:hover {
        outline: none;
    }
    /*    .header__bth svg:hover rect {
            fill: #ff9900;
            transition: fill 0.2s linear;
            outline: none;
            border: none;
        }
        .header__bth svg:hover path {
            stroke: #FF9900;
            transition: stroke 0.2s linear;
            outline: none;
            border: none;
        }*/
    .header__bth {
        display: block;
    }
    /*За ЛуПоЙ*/
    .icon {
        display: flex;
    }
    .search {
        position: absolute;
        max-width: 100%;
        min-width: 400px;
        height: 60px;
        background: #000;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        top: 25px;
        right: 50px;
        display: flex;
        padding: 16px 14px 16px 32px;
        opacity: 0;
        z-index: -1;
        transition-duration: 0.5s;
        transition-property: opasity;
    }
    .header__input {
        box-sizing: border-box;
        min-width: 412px;
        height: 28px;
        padding-bottom: 10px;
        border: none;
        background: #000;
        border-bottom: 1px solid #DCDCDC;
        transition: 0.5s ease;
        color: var(--white);
    }
    .cross:focus {
        outline: 2px solid #FF9900;
        outline-offset: 4px;
    }
    .cross-bth svg:hover rect {
        fill: var(--background-FF);
    }
    .cross-bth svg:hover circle {
        stroke: var(--background-FF);
    }
    .cross-bth svg:active rect {
        fill: var(--color-00);
    }
    .cross-bth svg:active circle {
        stroke: var(--color-00);
    }
    .search-img {
        display: flex;
        padding-left: 14px;
    }
    .form-search {
        display: flex;
        justify-content: space-between;
        /*padding: 16px 0px 16px 32px;*/
    }
    .icon-input {
        margin-right: 20px;
    }
    .se--active {
        z-index: 1;
        opacity: 1;
    }
    .slide-1 {
        background-image: url(../img/hero-1-1024.jpg);
    }
    .slide-2 {
        background-image: url(../img/hero-2-1024.jpg);
    }
    .slide-3 {
        background-image: url(../img/hero-3-1024.jpg);
    }
    .about-us {
        margin-bottom: 71px;
    }
    .gallery__slid {
        height: 315px;
    }
    .contacts__title {
        padding-bottom: 10px;
    }
    .contact__left {
        margin-bottom: 30px;
    }
    .contacts__form {
        flex-direction: row;
        margin-bottom: 17px;
    }
    .accordion__icon-none {
        width: 173px;
        height: 114px;
        margin: 8px;
    }
    .accordion__block-none {
        width: 189px;
        height: 130px;
    }
    .accordion__inner-list {
        column-count: 2;
        width: 100%;
    }
    .accordion__inner-list {
        max-height: 434px;
    }
    /*ПО ПИКСЕЛЬ ПОСМИОРТРЕТМ ????????????????????????????????????????????????????????????????????????*/
    .accordion__item {
        margin-bottom: 13.5px;
    }
    .accordion__content-wrap {
        padding: 32px 0 21px;
    }
    .accordion__heading {
        padding: 42px 120px 40px 0;
    }
    .gallery {
        padding: 78px 0;
    }
    .gallery__left {
        min-width: 30.3%;
    }
    .gallery__right {
        min-width: 65%;
    }
    .gallery__slid {
        max-width: 280px;
    }
    .gallery__select-text {
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    .choices__inner {
        font-size: 14px;
        min-height: 38px;
    }
    .choices__list--single .choices__item {
        font-size: 16px;
    }
    .gallery__checkbox {
        padding-bottom: 36px;
    }
    .catalog__par {
        line-height: 33px;
        margin-bottom: 35px;
    }
    .catalog__tab {
        width: 50%;
    }
    .catalog-time__data {
        padding-bottom: 18px;
    }
    .events__img {
        min-height: 200px;
    }
    .place {
        text-align: end;
    }
    .events__content {
        padding: 12px 34px 77px 34px;
    }
    .events__data {
        padding-bottom: 4px;
    }
    .events__title-card {
        padding-bottom: 6px;
    }
    .events__slide {
        min-height: 683px;
    }
    .events__link {
        bottom: 47px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }
    .events {
        margin-bottom: 81px;
    }
    .project__slide-img,
    .project__slide {
        max-width: 384px;
        max-height: 128px;
    }
    .cont-cont {
        padding: 41.5px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts__par {
        font-size: 14px;
    }
    .contacts__title {
        padding-bottom: 4px;
    }
    .contacts__bth {
        max-width: 343px;
        font-size: 19px;
        padding: 12px 42px;
    }
    .form__input {
        width: 270px;
    }
    .contact__left {
        margin-bottom: 24px;
    }
    .footer-link svg {
        width: 60px;
        height: 60px;
    }
    .footer {
        background: #000;
        padding: 39px 0;
    }
    .footer__container {
        align-items: center;
    }
    .vk {
        margin-right: 16px;
    }
    .modal--1,
    .modal--2 {
        display: flex;
        width: 60%;
        min-height: 594px;
    }
    .modal__left {
        width: 44%;
    }
    .modal-right {
        padding: 90px 50px;
        align-self: center;
    }
}

@media (max-width:1019px) {
    .contacts__form {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width:768px) {
    .header__top {
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .header__input {
        width: 100%;
    }
    .search {
        width: 100%;
        right: 0;
        height: 100px;
        top: 0px;
        align-items: center;
        border-radius: 0;
        padding: 10px 50px 19px 49px;
    }
    .search-img {
        padding-left: 28px;
    }
    .icon-input {
        margin-right: 11px;
    }
    .slide-1 {
        background-image: url(../img/ch-2-1.jpg);
    }
    .slide-2 {
        background-image: url(../img/ch-2-2.jpg);
    }
    .slide-3 {
        background-image: url(../img/ch-2-3.jpg);
    }
    .about-us {
        margin-bottom: 70px;
    }
    .gallery {
        background-image: url(../img/gallery768.jpg);
        padding: 78px 0 80px;
    }
    .gallery__container {
        flex-direction: column;
    }
    .gallery__left {
        width: 281px;
    }
    .gallery__sel {
        margin-bottom: 40px;
    }
    .gallery__swiper {
        margin: 0;
    }
    .gallery__slid {
        height: 330px;
        max-width: 100%;
    }
    .gallery__checkbox {
        padding-bottom: 16px;
    }
    .gallery__right {
        width: 100%;
    }
    .slider__bth {
        margin-bottom: 20px;
    }
    .catalog__accordion {
        flex-direction: column-reverse;
    }
    .catalog__par {
        line-height: 32px;
        margin-bottom: 20px;
    }
    .reset-list {
        width: 100%;
    }
    .catalog__tab {
        margin: 0;
        width: 100%;
        padding-top: 49px;
    }
    .accordion__inner-list {
        column-count: 3;
        max-height: 100%;
        min-height: 288px;
    }
    .catalog__img {
        margin-bottom: 10px;
    }
    .catalog-time__data {
        padding-bottom: 7px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 7px;
        width: 10px;
        height: 10px;
    }
    .events__navigation>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal:nth-child(4),
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 100%;
        justify-content: center;
    }
    .project__par {
        padding-bottom: 28px;
    }
    .project__subtitle {
        margin-bottom: 28px;
    }
    .contacts__form {
        margin-bottom: 30px;
    }
    .modal--1,
    .modal--2 {
        display: flex;
        width: 90%;
        min-height: 594px;
    }
    .modal__left {
        width: 44%;
    }
}

@media (max-width:655px) {
    .hero__title {
        font-size: 47px;
        line-height: 60px;
    }
}

@media (max-width:560px) {
    .gallery__slid {
        height: 367px;
        max-width: 100%;
    }
    .label__contacts {
        display: flex;
        flex-direction: column;
    }
    .search {
        padding: 11px 14px 1px 14px;
        min-width: 100%;
        top: 0;
    }
    .search-img {
        padding-left: 12px;
        padding-right: 3px;
        display: flex;
        flex-direction: column;
        padding-top: 4px;
    }
    .form-search {
        padding: 0;
    }
    /*&&&&&&&&&&&&&&&&&pixelPpppp&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    .header__input {
        min-width: 75%;
    }
    .cross {
        height: 15px;
        width: 15px;
    }
}

@media (max-width:400px) {
    .container {
        padding: 0 15px;
    }
    .title {
        font-size: 28px;
    }
    .form-search {
        padding: 0 0 6px 5px;
    }
    .hero {
        margin-bottom: 56px;
    }
    .hero__bottom {
        max-width: 100%;
        padding: 29px 0 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__title {
        font-size: 35px;
        line-height: 44px;
        text-align: center;
        padding-bottom: 0px;
    }
    .hero__par {
        line-height: 16px;
        margin-bottom: 43px;
        text-align: center;
        font-size: 11px;
        max-width: 85%;
    }
    .hero__bth {
        width: 200px;
        height: 40px;
        font-size: 13px;
        line-height: 16px;
        padding: 11px 16px;
    }
    .header__burger {
        width: 25px;
        height: 24px;
        background-image: url(../img/burger320.svg);
    }
    .header__logo {
        width: 33.33%;
    }
    .header__logo-img {
        width: 96.8px;
        height: 21.67px;
    }
    .icon {
        width: 18px;
        height: 22px;
    }
    .header__top {
        padding: 10px 0 7px;
    }
    .about-us {
        margin-bottom: 43px;
    }
    .about-us__title {
        padding-bottom: 14px;
        line-height: 28px;
    }
    .about-us__par {
        font-size: 14px;
        line-height: 28px;
    }
    .mySwiperG {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider__bth {
        align-self: center;
    }
    .catalog__par {
        display: none;
    }
    .catalog__title {
        padding-bottom: 12px;
    }
    .accordion__inner-list {
        column-count: 1;
    }
    /*!!!!!!!!!!!!!!!!!!!!на всех расширениях!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    .catalog__img-none {
        width: 100%;
    }
    .accordion__inner-list {
        height: 100%;
    }
    .gallery {
        padding: 54px 0 12px;
        margin-bottom: 37px;
    }
    .gallery__title {
        line-height: 28px;
        margin-bottom: 25px;
    }
    .gallery__select-text {
        line-height: 17px;
    }
    .choices__item {
        font-size: 16px;
    }
    .gallery__sel {
        margin-bottom: 27px;
    }
    .gallery__left {
        width: 100%;
        margin-bottom: 29px;
    }
    .gallery__card-1 {
        background-image: url(../img/g1-320.jpg);
    }
    .gallery__card-2 {
        background-image: url(../img/g2-320.jpg);
    }
    .gallery__card-3 {
        background-image: url(../img/g3-320.jpg);
    }
    .gallery__card-4 {
        background-image: url(../img/g4-320.jpg);
    }
    .gallery__card-5 {
        background-image: url(../img/g5-320.jpg);
    }
    .gallery__card-6 {
        display: none;
    }
    .accordion__heading-text-wrap {
        font-size: 18px;
    }
    .accordion__heading {
        padding: 20px 0px 20px 0;
    }
    .catalog__title {
        padding-bottom: 0px;
    }
    .accordion__item {
        margin-bottom: 16px;
        line-height: 16px;
    }
    .accordion__inner-list {
        margin-bottom: -10px;
    }
    .catalog {
        margin-bottom: 53px;
    }
    .catalog__img {
        margin-bottom: 10px;
        max-width: 100%;
    }
    .events__title {
        line-height: 28px;
    }
    .swiper-slide img {
        height: 200px;
    }
    .place {
        text-align: end;
    }
    .events__content {
        padding: 14px 18px 77px 23px;
    }
    .events__title-card {
        padding-bottom: 3px;
    }
    .events__text {
        font-size: 17px;
    }
    .project {
        margin-bottom: 18px;
    }
    .project__slide-img {
        height: 65px !important;
        width: 195px !important;
    }
    .project__slide {
        width: 195px;
    }
    .project__title {
        line-height: 28px;
    }
    .project__subtitle {
        font-size: 18.5px;
        line-height: 32px;
    }
    .project__par {
        padding-bottom: 55px;
    }
    .mySwiperP {
        width: 195px !important;
    }
    .project__subtitle {
        margin-bottom: 8px;
    }
    .contacts__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 6px;
    }
    .contacts__par {
        font-size: 14px;
        line-height: 19px;
    }
    .contact__block {
        border: none;
    }
    .contact__left {
        margin-bottom: 18px;
    }
    .contacts__form {
        margin-bottom: 20px;
    }
    .label__contacts {
        width: 100%;
    }
    .form__input {
        min-width: 100%;
        padding: 9px 24px;
        margin-right: 0px;
        height: 43px;
    }
    .lbl-name {
        margin-bottom: 18px;
    }
    .contacts__bth {
        display: none;
    }
    .contacts__bth--320 {
        display: block;
        border: 2px solid var(--amethysta);
        border-radius: 100px;
        max-width: 329px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
        color: #9D5CD0;
        padding: 6px 36px;
        font-size: 12px;
    }
    .contacts__form {
        width: 100%;
    }
    .contacts__subtitle {
        font-size: 18px;
        line-height: 32px;
    }
    .contact-link svg {
        width: 50px;
        height: 50px;
    }
    .cont-cont {
        padding: 32px 0 16px;
    }
    #map,
    .ymaps-2-1-79-map {
        height: 320px !important;
    }
    .footer {
        padding: 21px 0;
    }
    .footer__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footer-link svg {
        width: 50px;
        height: 50px;
    }
    .footer__right {
        margin-bottom: 14px;
    }
    .footer__left img {
        width: 96.8px;
        height: 21.67px;
    }
}

@media (max-width:320px) {
    .head-icon {
        width: 30px;
        height: 30px;
    }
    .slide-1 {
        background-image: url(../img/hero-3-1.jpg);
    }
    .slide-2 {
        background-image: url(../img/hero-3-2.jpg);
    }
    .slide-3 {
        background-image: url(../img/hero-3-3.jpg);
    }
}