@media (max-width:1700px) {
  .container {
    padding: 0 50px;
  }
  .cont-cont {
    flex-direction: column;
    align-items: flex-start;
}
.contacts__left {
  margin-bottom: 30px;
}
.contacts__form {
  margin-bottom: 30px;
}
}
@media (max-width:1456px) {

    .accordion__inner-list {
        height: 100%;
    }
}

@media (max-width:1378px) {
    .header__list-item:not(:last-child) {
        margin-right: 8%;
    }
    .header__logo {
        margin-right: 4%;
    }
    .container {
        padding: 0;
        padding: 0 20px
    }
    .menu__item:not(:last-child) {
        margin-right: 2%;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 0;
    }
}

@media (max-width:1024px) {
    .container {
        padding: 0;
        padding: 0 50px
    }
    .header__logo {
        background-image: url(../img/Лого-1024.svg);
        width: 100%;
        margin-right: 0;
    }
    .header__top {
        justify-content: space-between;
    }
    .header__top-nav {
        display: none;
    }
    .hero__bottom {
        padding: 107px 0 136px 0;
        max-width: 661px;
    }
    .hero__top {
        display: none;
    }
    .hero__title {
        font-size: 78px;
        line-height: 98px;
        margin-bottom: -1px;
    }
    .hero__par {
        margin-top: -10px;
        margin-bottom: 155px;
        font-size: 19px;

    }
    .header__out {
        display: none;
    }

    .burger-menu-block {
        display: block;
        height: 28px;
    }
    .burger-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .burger-menu {
        display: inline-block;
        position: absolute;
        padding-top: 34px;
        padding-left: 15px;
        padding-right: 20px;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 768px;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 3;
        padding: 38px 0 50px 49px;
    }
    .header__burger {
        display: inline-block;
        width: 36px;
        height: 28px;
        background-image: url('../img/burger.svg');
        background-repeat: no-repeat;
        background-position: center center;
        transition: background-image .25s ease;
        cursor: pointer;
    }
    .hero__bth {
      font-size: 19px;
      padding: 24px 33px;
    }
    .header__out-burger:hover {
        background-color: var(--amethysta);
        outline: 3px solid var(--biloba-flower);
        transition: background-color .3s ease, outline .3s ease;
    }
    .header__out-burger:active {
        background: var(--royal-purple);
        outline: 3px solid var(--biloba-flower);
        transition: background-color .3s ease, outline .3s ease;
    }
    .header__out-burger:focus-visible {
        outline: 2px solid var(--heliotrope);
        transition: outline .3s ease;
    }
    .cr-bth {
        cursor: pointer;
    }
    .list-burger {
        display: block;
        margin-bottom: 193px;
        padding-top: 47px;
    }
    .header__list-item:not(:last-child) {
        margin-bottom: 36px;
    }
    .item-burger {
        font-size: 24px;
    }
    .burger-menu {
        transform: translateX(-101%);
        transition: transform 0.35s ease;
    }
    .not-active {
        transform: none;
    }
    .events-button-next,
    .events-button-prev {
        display: none;
    }
    .events__navigation {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        top: 30px;
    }
    .mySwiperE {
        padding-bottom: 30px;
    }
    .header__out-burger {
        border: 2px solid var(--amethysta);
        border-radius: 100px;
        padding: 19px 88px 22px;
    }
    .header__out-text-burger {
        font-size: 18px;
        color: var(--white);
    }
    .header__search {
        display: block;
    }
    /*Лупа*/
    .icon {
        position: relative;
        display: block;
        cursor: pointer;
    }
    .header__bth {
        display: block;
    }
    /*За ЛупоЙ*/
    .icon {
        display: flex;
    }
    .search {
        position: absolute;
        max-width: 100%;
        min-width: 400px;
        height: 60px;
        background: #000;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        top: 25px;
        right: 50px;
        display: flex;
        padding: 16px 14px 16px 32px;
        opacity: 0;
        z-index: -1;
        transition-duration: 0.5s;
        transition-property: opasity;
    }
    .header__input {
        box-sizing: border-box;
        min-width: 412px;
        height: 28px;
        padding-bottom: 10px;
        border: none;
        background: #000;
        border-bottom: 1px solid #DCDCDC;
        transition: 0.5s ease;
        color: var(--white);
    }
    .search-img {
        display: flex;
        padding-left: 14px;
    }
    .form-search {
        display: flex;
        justify-content: space-between;
        /*padding: 16px 0px 16px 32px;*/
    }
    .icon-input {
        margin-right: 20px;
    }
    .se--active {
        z-index: 1;
        opacity: 1;
    }
    .slide-1 {
        background-image: url(../img/hero-1-1024.jpg);
    }
    .slide-2 {
        background-image: url(../img/hero-2-1024.jpg);
    }
    .slide-3 {
        background-image: url(../img/hero-3-1024.jpg);
    }
    .about-us {
        margin-bottom: 68px;
    }
    .about-us__title {
      margin-bottom: 19px;
    }
    .gallery__slid {
        height: 315px;
    }
    .gallery__swiper {
        max-width: 100%;
    }
    .slider__bth {
        display: flex;
        padding-top: 48px;
        margin-bottom: 4px;
        padding-left: 6px;
    }
    .gallery__right {
        min-height: 400px
    }
    .galley__swiper-wrapper {
        max-height: 100%;
    }
    .contacts__title {
        padding-bottom: 10px;
    }
    .contacts__left {
        margin-bottom: 30px;
    }
    .contacts__form {
        flex-direction: row;
        margin-bottom: 27px;
    }
    .accordion__icon-none {
        width: 173px;
        height: 114px;
        margin: 8px;
    }
    .accordion__block-none {
        width: 189px;
        height: 130px;
    }
    .accordion__inner-list {
        column-count: 2;
        width: 100%;
    }
    .accordion__item {
        margin-bottom: 13.5px;
    }
    .accordion__content-wrap {
        padding: 32px 0 21px;
    }
    .accordion__heading {
        padding: 42px 50px 40px 0;
    }
    .gallery {
        padding: 80px 0 80px;
    }
    .gallery__left {
        min-width: 30.3%;
    }
    .gallery__right {
        min-width: 65%;
        margin-left: 44px;
    }
    .gallery__slide::before {
        content: '';
        position: absolute;
        top: 7%;
        left: 7%;
        bottom: 7%;
        right: 7%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(../img/gallery+.svg);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
    .gallery__slid {
        max-width: 280px;
    }
    .gallery__select-text {
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    .gallery__container {
      padding: 0;
    }
    .choices__inner {
        font-size: 14px;
        min-height: 38px;
    }
    .choices__list--single .choices__item {
        font-size: 17px;
    }
    .gallery__checkbox {
        padding-bottom: 33px;
    }
    .catalog {
        margin-bottom: 81px;
    }
    .catalog__par {
      font-size: 17px;
        line-height: 32px;
        margin-bottom: 39px;
    }
    .catalog__tab {
        width: 50%;
    }
    .catalog-time__data {
        margin-bottom: 17px;
    }
    .catalog-time__content {
      letter-spacing: 0;
    }
    .events__img {
        min-height: 200px;
        width: 100%;
    }
    .place {
        text-align: end;
    }
    .events__content {
        padding: 4px 31px 70px 34px;
    }
    .events__data {
        margin-bottom: 4px;
    }
    .events__title-card {
        margin-bottom: 6px;
    }
    .events__slide {
        min-height: 683px;
    }
    .events__link {
        bottom: 47px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }
    .events {
        margin-bottom: 81px;
    }
    .project__title {
      margin-bottom: 14px;
    }
    .project__par {
      font-size: 16.9px;
        padding-bottom: 20px;
    }
    .cont-cont {
        padding: 42px 0 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts__par {
        font-size: 14px;
    }
    .contacts__title {
        padding-bottom: 1px;
    }
    .contacts__bth {
        max-width: 343px;
        font-size: 20px;
        padding: 12px 46px;
    }
    .mySwiperP {
        max-width: 89%;
    }
    .swiperP {
        height: 130px;
    }
    .form__input {
        width: 270px;
    }
    .contacts__left {
        margin-bottom: 20px;
    }
    .footer-link svg {
        width: 60px;
        height: 60px;
    }
    .footer {
        background: #000;
        padding: 39px 0;
    }
    .footer__container {
        align-items: center;
    }
    .vk {
        margin-right: 16px;
    }
    .modal--1,
    .modal--2 {
        display: flex;
        width: 60%;
        min-height: 594px;
    }
    .modal__left {
        width: 44%;
    }
    .modal-right {
        padding: 90px 50px;
        align-self: center;
    }
    .events__navigation>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal:nth-child(4),
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width:1019px) {
    .contacts__form {
        flex-direction: column;
        align-items: start;
    }
    .label__contacts {
        display: flex;
        margin-bottom: 12px;
    }
    .swiperP {
        height: 128px;
    }
}

@media (max-width:960px) {
    .header__top {
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .header__input {
        width: 100%;
    }
    .search {
        width: 100%;
        right: 0;
        height: 100px;
        top: 0px;
        align-items: center;
        border-radius: 0;
        padding: 10px 50px 19px 49px;
    }
    .search-img {
        padding-left: 28px;
    }
    .icon-input {
        margin-right: 11px;
    }
    .slide-1 {
        background-image: url(../img/ch-2-1.jpg);
    }
    .slide-2 {
        background-image: url(../img/ch-2-2.jpg);
    }
    .slide-3 {
        background-image: url(../img/ch-2-3.jpg);
    }
    .about-us {
        margin-bottom: 70px;
    }
    .about-us__par {
      font-size: 17px;
    }
    .gallery {
        background-image: url(../img/gallery768.jpg);
        padding: 82px 0 76px;
    }
    .gallery__title {
      font-size: 49px;
      margin-bottom: 12px;
    }
    .gallery__container {
        flex-direction: column;
    }
    .gallery__left {
        width: 281px;
    }
    .choices[data-type*=select-one]::after {
      top: 30%;
      right: 26.5px;
    }
    .slider__bth {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .gallery__sel {
        margin-bottom: 40px;
    }
    .gallery__swiper {
        margin: 0;
    }
    .gallery__slid {
        height: 330px;
        max-width: 100%;
    }
    .gallery__checkbox {
        padding-bottom: 16px;
        line-height: 31px;
    }
    .gallery__right {
        width: 100%;
        margin-left: 0;
    }
    .gallery__swiper {
        max-width: 100%;
    }
    .swiper__bth {
        margin-bottom: 20px;
    }
    .catalog__accordion {
        flex-direction: column-reverse;
    }
    .catalog__par {
        line-height: 32px;
        margin-bottom: 20px;
    }
    .reset-list {
        width: 100%;
    }
    .catalog__tab {
        margin: 0;
        width: 100%;
        padding-top: 49px;
    }
    .accordion__item {
      margin-bottom: 12.7px;
      font-size: 17px;
  }
    .accordion__inner-list {
        column-count: 3;
        max-height: 100%;
        height: 288px;
    }
    .catalog__img {
        margin-bottom: 10px;
    }
    .catalog-time__data {
        margin-bottom: 7px;
    }
    .events__link {
        bottom: 46px;
    }
    .events__title-card {
      font-size: 25.3px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 7px;
        width: 10px;
        height: 10px;
    }
    .events__navigation>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal:nth-child(4),
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 100%;
        justify-content: center;
    }
    .mySwiperP {
        max-width: 83%;
        height: 106px;
    }
    .swiperP {
        height: 106px;
    }
    .project__par {
      font-size: 17px;
        padding-bottom: 31px;
    }
    .project__subtitle {
        margin-bottom: 28px;
    }
    .label__contacts {
        min-width: 100%;
    }
    .form__input {
        min-width: 100%;
        margin: 0;
        width: 100%;
    }
    .cont-cont {
        padding: 43px 0 41px;
    }
    .lbl-tel,
    .lbl-name {
        width: 100%;
    }
    .lbl-name {
        margin-right: 20px;
    }
    .contacts__form {
        margin-bottom: 28px;
        min-width: 100%;
    }
    .contacts__bth {
        max-width: 49%;
        font-size: 19px;
        padding: 9px 26px;
        min-width: 48%;
    }
    .contacts__left {
      margin-bottom: 24px;
  }
  .contacts__title {
    line-height: 28px;
}
.contacts__par {
  font-size: 15px;
}
    .modal--1,
    .modal--2 {
        display: flex;
        width: 90%;
        min-height: 594px;
    }
    .modal__left {
        width: 44%;
    }
    .modal {
        height: 500px;
    }
    .accordion__heading {
      padding: 43px 50px 39px 0;
    }
    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      background-color: #000;
    }
    .projects__link-inner {
      position: relative;
      display: none;

  }

.projects__link-inner-tablet {
  position: relative;
  z-index: 10;
  display: inline-block;
  position: relative;
  color: var(--amethysta);
  transition: color .3s ease-in-out;
}
}

@media (max-width:657px) {
    .hero__title {
        font-size: 35px;
        line-height: 44px;
        padding-bottom: 0px;
    }
    .gallery__slid {
        height: 367px;
        max-width: 100%;
    }
    .label__contacts {
        display: flex;
        flex-direction: column;
    }
    .contacts__bth {
      min-width: 100%;
    }
    .search {
        padding: 11px 14px 1px 14px;
        min-width: 100%;
        top: 0;
    }
    .search-img {
        padding-left: 12px;
        padding-right: 3px;
        display: flex;
        flex-direction: column;
        padding-top: 4px;
    }
    .form-search {
        padding: 0;
    }
    .header__input {
        min-width: 75%;
    }
    .cross {
        height: 15px;
        width: 15px;
    }
    .lbl-name {
        margin-bottom: 20px;
    }
    .modal-right {
        padding: 90px 36px;
        align-self: center;
    }
    /*modal*/
    .modal {
        width: 100%;
    }
    .modal--1,
    .modal--2 {
        display: flex;
        flex-direction: column;
        width: 91%;
        max-height: fit-content;
    }
    .modal__left {
        width: 100%;
        height: 33%;
        object-fit: cover;
    }
    .modal-right {
        padding: 21px 17px 26px 18px;
        align-self: center;
    }
    .modal-cross {
        top: -184px;
        right: 13px;
    }
    .modal__data {
        padding-bottom: 4px;
    }
    .accordion__title-none {
      font-size: 18px;
    }
}

@media (max-width:400px) {
    .container {
        padding: 0 15px;
    }
    .title {
        font-size: 28px;
    }
    .form-search {
        padding: 0 0 6px 5px;
    }
    .hero {
        margin-bottom: 54px;
    }
    .hero__bottom {
        max-width: 100%;
        padding: 29px 0 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__title {
        font-size: 34px;
        line-height: 44px;
        text-align: center;
        padding-bottom: 13px;
        letter-spacing: 0px;
        font-weight: 700;
    }
    .hero__par {
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 42px;
        text-align: center;
        font-size: 12px;
        max-width: 85%;
        letter-spacing: 0;
    }
    .hero__bth {
        min-width: 200px;
        min-height: 40px;
        font-size: 12px;
        line-height: 16px;
        padding: 11px 16px;
    }
    .header__logo {
        background-image: url(../img/Лого-320.svg);
        width: 33.33%;
    }
    .header__burger {
        width: 25px;
        height: 24px;
        background-image: url(../img/burger320.svg);
    }
    .header__top {
        padding: 3px 0 0px;
    }
    .header__logo-img {
        width: 96.8px;
        height: 21.67px;
    }
    .swiper-wrapper:nth-child(2) {
        margin-bottom: 15px;
    }
    .slider__bth {
        display: flex;
        align-self: center;
    }
    .icon {
        width: 18px;
        height: 22px;
    }
    .icon-input {
      margin-right: 0;
  }
    .search {
        min-width: 100%;
        max-height: 75px;
        top: 0;
        padding: 9px 15px 0 56px;
        align-items: flex-start;
    }
    .header__input {
      min-width: 180px;
      width: 180px;
      padding-top: 35px;
    }
    .search-img-lupa {
      padding-top: 27px;
    }
    .search-img {
      padding-left: 34px;
      padding-right: 3px;
  }
    .about-us {
        margin-bottom: 43px;
    }
    .about-us__title {
        margin-bottom: 16px;
        line-height: 28px;
    }
    .about-us__par {
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0;
    }
    .choices__list--single {
        padding-left: 15px;
        padding-bottom: 4px;
    }
    .check {
      line-height: 32px;
        padding-left: 23px;
    }
    .slider__bth {
      padding-top: 45px;
      margin-bottom: 21px;
    }
    .mySwiperG {
        display: flex;
        flex-direction: column-reverse;
    }
    .swiper__bth {
        align-self: center;
    }
    .catalog__par {
        display: none;
    }
    .catalog__tab {
        padding-top: 51px;
    }
    .catalog__title {
        margin-bottom: 12px;
    }
    .catalog-time__content {
      font-size: 17px;
      letter-spacing: 0;
  }
    .accordion__inner-list {
        column-count: 1;
    }
    .catalog__img-none {
        width: 100%;
    }
    .accordion__inner-list {
        height: 100%;
    }
    .gallery {
        padding: 54px 0 18px;
        margin-bottom: 37px;
    }
    .gallery__title {
        line-height: 28px;
        margin-bottom: 25px;
    }
    .gallery__select-text {
      font-size: 15px;
        line-height: 17px;
    }
    .choices__item {
        font-size: 16px;
    }
    .gallery__sel {
        margin-bottom: 31px;
    }
    .gallery__left {
        width: 100%;
        margin-bottom: 13px;
    }
    .swiper__bth {
        padding-top: 43px;
    }
    .gallery__card-1 {
        background-image: url(../img/g1-320.jpg);
    }
    .gallery__card-2 {
        background-image: url(../img/g2-320.jpg);
    }
    .gallery__card-3 {
        background-image: url(../img/g3-320.jpg);
    }
    .gallery__card-4 {
        background-image: url(../img/g4-320.jpg);
    }
    .gallery__card-5 {
        background-image: url(../img/g5-320.jpg);
    }
    .gallery__card-6 {
        display: none;
    }
    .accordion__heading-text-wrap {
        font-size: 18px;
    }
    .head-icon {
        width: 30px;
        height: 30px;
    }
    .accordion__content-wrap {
        padding: 28px 0 21px;
    }
    .accordion__heading {
        padding: 20px 0px 20px 0;
    }
    .catalog__title {
        margin-bottom: 0px;
    }
    .accordion__item {
        margin-bottom: 16px;
        line-height: 16px;
    }
    .accordion__inner-list {
        margin-bottom: -10px;
    }
    .catalog {
        margin-bottom: 50px;
    }
    .catalog__img {
        margin-bottom: 10px;
        max-width: 100%;
    }
    .catalog-time__data {
        margin-bottom: 16px;
        font-size: 13px;
    }
    .events {
        margin-bottom: 43px;
    }
    .events__title {
        line-height: 34px;
    }
    .place {
        text-align: end;
    }
    .swiperP {
        height: 65px;
    }
    .events__content {
        padding: 5px 18px 77px 23px;
    }
    .events__title-card {
        margin-bottom: 3px;
    }
    .events__text {
        font-size: 17px;
    }
    .events__data {
        margin-bottom: 10px;
    }
    .events__link {
        bottom: 48px;
        left: 28px;
    }
    .events__navigation {
        top: 19px;
    }
    .project {
        margin-bottom: 18px;
    }
    .mySwiperP {
        max-width: 67%;
        height: 68px;
    }
    .project__title {
        line-height: 33px;
    }
    .project__subtitle {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .project__par {
      font-size: 17px;
        padding-bottom: 53px;
        letter-spacing: 0;
    }
    .project__title {
      margin-bottom: 12px;
  }
    .projects__link-inner-tablet {
      display: none;
    }
    .projects__link-inner-mobile {
      position: relative;
      display: block;
      z-index: 10;
  }
    .contacts__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 1px;
    }
    .catalog-time__name {
      margin-bottom: 4px;
    }
    .pro-button-next, .pro-button-prev {
      top: 63%;
  }
    .label__contacts {
        margin-bottom: 18px;
    }
    .contacts__par {
        font-size: 15px;
        line-height: 19px;
    }
    .contacts__block {
        border: none;
    }
    .contacts__left {
        margin-bottom: 16px;
    }
    .contacts__form {
        margin-bottom: 20px;
    }
    .label__contacts {
        width: 100%;
    }
    .form__input {
        min-width: 100%;
        padding: 9px 24px;
        margin-right: 0px;
        height: 43px;
    }
    .lbl-name {
        margin-bottom: 18px;
    }
    .contacts__bth {
        display: none;
    }
    .contacts__bth-320 {
        display: block;
        border: 2px solid var(--amethysta);
        border-radius: 100px;
        max-width: 329px;
        height: 43px;
        font-size: 18px;
        line-height: 25px;
        color: #9D5CD0;
        padding: 6px 36px;
        font-size: 12px;
    }
    .contacts__form {
        width: 100%;
    }
    .contacts__subtitle {
        font-size: 17px;
        line-height: 32px;
    }
    .contact-link svg {
        width: 50px;
        height: 50px;
    }
    .cont-cont {
        padding: 32px 0 16px;
    }
    #map,
    .ymaps-2-1-79-map {
        max-height: 320px;
    }
    .footer {
        padding: 21px 0;
    }
    .footer__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footer-link svg {
        width: 50px;
        height: 50px;
    }
    .footer__right {
        margin-bottom: 14px;
    }
    .footer__left img {
        width: 96.8px;
        height: 21.67px;
    }
    .burger-menu {
        padding: 16px 0 26px 15px;
        min-height: 600px;
    }
    .list-burger {
        display: block;
        margin-bottom: 289px;
        padding-top: 16px;
    }
    .header__list-item:not(:last-child) {
        margin-bottom: -1px;
    }
    .header__list-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }
    .burger-btn__cross-no-v {
        width: 16px;
        height: 16px;
    }
    .header__out-burger {
        border: 2px solid var(--amethysta);
        border-radius: 100px;
        padding: 11px 30px 11px;
    }
    .header__out-text-burger {
        font-size: 12px;
    }
    .head-icon {
        width: 30px;
        height: 30px;
    }
    .gallery__slide::before {
        content: '';
        position: absolute;
        top: 7%;
        left: 7%;
        bottom: 7%;
        right: 7%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(../img/gallery+.svg);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }


  .accordion__icon-none {
    width: 79px;
    height: 118px;
    margin: 4px;

  }
}
